<style media="screen">
    .reset-filter {
        display: inline-block;
        background: #ccc;
        margin: 10px;
        padding: 5px 10px;
    }
    .reset-filter:hover {
        cursor: pointer;
    }
</style>

<select id="selector" class="" name="">
    <option value="" selected disabled>Выберете курс</option>
    {{#each courses}}
        <option value="{{this.id}}">{{this.title}}</option>
    {{/each}}
</select>

<div class="">
    {{#each groups}}
        <a class="group" href="/stat?id={{this.id}}">
            <div class="course-id">
                {{this.cid}}
            </div>
            курс  : {{this.ctitle}}
            группа: {{this.gtitle}}
        </a>
    {{/each}}
</div>

<div class="reset-filter">
    Сброс фильтрации
</div>

<script src="js/filter.js"></script>
