<link rel="stylesheet" href="/css/page-student.css">

<link rel="stylesheet" href="/css/progress.css">

<h1>Текущая неделя</h1>
    <div class="schedule">
    {{#each exerView}}
        <div class="day">
            <div class="dayTitle">
				<div>
					<div class="date">{{date}}</div>
					<div class="month">мая</div>
                </div>
				<span>{{this.dayWeek}}</span>
			</div>
            <ul class="dayLessons">
                {{#each this.exercises}}
                {{#if this.exist}}
                <li class="lesson exercise" id="{{this.id}}">
                    <div class="lessonName">
                        {{this.subTitle}}
                    </div>
                    <div class="lessonTeacher">
                        <img src="/img/timeTable/man-avatar_1.svg">
                        <span>{{this.teacher}}</span>
                    </div>
                    <div class="lessonTime">
                        <img src="/img/timeTable/symbol_2.svg">
                        <span>{{this.time}}</span>
                    </div>
                </li>
                {{else}}
                <li class="lesson">
                    <div class="lessonName">
                        Окно
                    </div>
                    <div class="lessonTeacher">
                        --
                    </div>
                    <div class="lessonTime">
                        <span>00:00</span>
                    </div>
                </li>
                {{/if}}
                {{/each}}
            </ul>

        </div>
    {{/each}}
    </div>

<h1>Просмотр пары</h1>

    <div class="lessonAbout info">
		<div class="lessonAboutInfo">
			<span>лекция</span>
			<div id="exercise-name" class="lessonAboutName exercise-name">
				Теория вероятностей
			</div>
			<div class="lessonDescription description">
			</div>
			<div class="descriptionPanel">
				<div id="attached-files" class="attached attached-files">
					<img src="/img/timeTable/interface (2) 2.svg">
					<a class="attachment" href="">1_lektsia.pptx</a>
					<a class="attachment" href="">931-1_Bspline.txt</a>
				</div>
				<div class="teacher">
					<img src="/img/timeTable/man-avatar_1.svg">
					<div class="teacherName teacher-name">Чеботарев В.И.</div>
				</div>
				<div class="lessonStart">
					<img src="/img/timeTable/symbol_2.svg">
					<div class="time">
						8:05 03.09.2020
					</div>
				</div>
			</div>
		</div>
		<div class="lessonPanel">
			<a class="joinLesson link panel-a" href="/file/">Подключиться к занятию</a>
			<a class="contactTeacher panel-a" href="">Написать преподавателю</a>
            <div class="lessonWork">
                <span>Работа на паре</span>
                <form class="file-form" action="/file" method="post">
                    <div id="files-field" class="files-field">

                    </div>
                    <input id="file" type="file" name="file" id="file" class="inputfile" />
                    <label for="file">Добавить файл</label>
                    <div class="progress">
                        <progress max="100" value="0" id="progress"></progress>
                    </div>
                    <input id="submit" style="display: none" type="submit" name="" value="Отправить файл">
                </form>
            </div>

			<!-- <div class="lessonWork" id="files-field">

				<div class="lessonReport">
					<span>931-3_Bspline_otvety.txt</span>
					<div class="cancelCross"></div>
				</div>
				<div class="lessonReport">
					<span>Timosh_primi_labku.cpp</span>
					<div class="cancelCross"></div>
				</div>
				<a class="sendReport" href="">Досдать задание</a>
			</div> -->
		</div>
	</div>

</div>

<!-- <div class="">
        <div class="name">
            <h5 class="label">пара</h5>
            <h1 id="exercise-name" class="exercise-name"></h1>
        </div>
        <div class="description"></div>
        <div id="attached-files" class="attached-files"></div>

        <form class="file-form" action="/file" method="post">
            <div id="files-field" class="files-field">

            </div>
            <input id="file" type="file" name="" value="">
            <div class="progress">
                <progress max="100" value="0" id="progress"></progress>
            </div>
            <input id="submit" style="display: none" type="submit" name="" value="Отправить файл">
        </form>
        <div class="teacher-name"></div>
        <!-- <div class="link">haha</div> -->
        <!-- <a class="link" href="">Подключиться к занятию</a>
    </div> -->


<script type="text/javascript">
        let array = {{{exercises}}};
</script>


<script src="js/displayExercise.js"></script>
<script src="js/deleteFile.js"></script>
<script src="js/upload.js"></script>
