<style media="screen">
    .week{
        display: flex;
    }

    .day{
        margin-right: 20px;
    }
    .exercise{
        min-height: 100px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .exercise:hover{
        background: #ccc;
        cursor: pointer;
    }

    .info {
        background: #fff;
        padding: 5px;
        /* visibility: hidden; */
        display: none;
    }

    .label {
        margin-bottom: 0px;
    }

    .exercise-name {
        margin: 0px;
    }

    .description {
        padding: 10px 0px;
    }

    .attached-file {
        background: #ccc;
        display: inline-block;
        padding: 5px 10px;
        margin: 5px;
    }

    .link {
        color: black;
        background: #ccc;
        display: inline-block;
        padding: 5px 10px;
        margin: 5px;
    }
</style>

<link rel="stylesheet" href="/css/progress.css">

<div id="wrapper" class="wrapper">
    <div class="week">
    {{#each exerView}}
        <div class="day">
            {{#each this.exercises}}
            <div class="exercise" id='{{this.id}}'>
                <div class="number">
                    {{this.number}}
                </div>
                <div class="sub-title">
                    {{this.subTitle}}
                </div>
                <div class="teacher">
                    {{this.teacher}}
                </div>
                <div class="time">
                    {{this.time}}
                </div>
            </div>
            {{#if this.gtitle}}
                <div>
                    {{this.gtitle}}
                </div>
            {{/if}}
            {{/each}}
        </div>
    {{/each}}
    </div>
    <div class="info">
        <div class="name">
            <h5 class="label">пара</h5>
            <h1 id="exercise-name" class="exercise-name"></h1>
        </div>
        <div class="description"></div>
        <div id="attached-files" class="attached-files"></div>

        <form class="file-form" action="/file" method="post">
            <input id="file" type="file" name="" value="">
            <div class="progress">
                <progress max="100" value="0" id="progress"></progress>
            </div>
            <input id="submit" style="display: none" type="submit" name="" value="Отправить файл">
        </form>
        <div class="teacher-name"></div>
        <!-- <div class="link">haha</div> -->
        <a class="link" href="">Подключиться к занятию</a>
    </div>
</div>


<script type="text/javascript">
        let array = {{{exercises}}};
</script>

<script src="js/displayExercise.js"></script>
<script src="js/upload.js"></script>
