<style media="screen">
    .week{
        display: flex;
    }

    .day{
        margin-right: 20px;
    }
    .exercise{
        min-height: 100px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .exercise:hover{
        background: #ccc;
        cursor: pointer;
    }

    .info {
        background: #ccc;
        padding: 5px;
        visibility: hidden;
    }

    .label {
        margin-bottom: 0px;
    }

    .exercise-name {
        margin: 0px;
    }

    .description {
        padding: 10px 0px;
    }

    progress{
        margin: 10px 0px;
        display: block;
        border-radius : 8px;
        background: #fff;
        padding: 0;
        border: 0;
        text-align: center;
        height: 20px;
        box-shadow: 1px 2px rgba(0,0,0,.3) inset, 0 0 0 1px rgba(0,0,0,.5);
        overflow:hidden;
        background: -webkit-linear-gradient(#4c4, #8f8 50%, #4c4);
                background: -moz-linear-gradient(#4c4, #8f8 50%, #4c4);
                        background: -o-linear-gradient(#4c4, #8f8 50%, #4c4);
                                background: linear-gradient(#4c4, #8f8 50%, #4c4);
        border-radius: 8px;
    }

    progress::-moz-progress-bar {
        background: -moz-linear-gradient(#4c4, #8f8 50%, #4c4);
        border-radius: 8px;
    }
    progress::-webkit-progress-bar {
        background: #fff;
    }
    progress::-webkit-progress-value {
        background: -webkit-linear-gradient(#4c4, #8f8 50%, #4c4);
        border-radius: 8px;
    }
</style>

<div id="wrapper" class="wrapper">
    <div class="week">
    {{#each exerView}}
        <div class="day">
            {{#each this.exercises}}
            <div class="exercise" id='{{this.id}}'>
                <div class="number">
                    {{this.number}}
                </div>
                <div class="sub-title">
                    {{this.subTitle}}
                </div>
                <div class="teacher">
                    {{this.teacher}}
                </div>
                <div class="time">
                    {{this.time}}
                </div>
            </div>
            {{#if this.gtitle}}
                <div>
                    {{this.gtitle}}
                </div>
            {{/if}}
            {{/each}}
        </div>
    {{/each}}
    </div>
    <div class="info">
        <div class="name">
            <h5 class="label">пара</h5>
            <h1 id="exercise-name" class="exercise-name"></h1>
        </div>
        <div class="description"></div>
            <form class="file-form" action="/file" method="post">
                <input id="file" type="file" name="" value="">
                <div class="progress">
                    <progress style="visibility: hidden" max="100" value="0" id="progress"></progress>
                </div>
                <input id="submit" style="visibility: hidden" type="submit" name="" value="Отправить файл">
            </form>
        <div class="teacher-name"></div>
    </div>
</div>


<script type="text/javascript">
        let array = {{{exercises}}};
</script>

<script src="js/displayExercise.js"></script>
<script src="js/upload.js"></script>
