<link rel="stylesheet" href="/css/edit.css">
<link rel="stylesheet" href="/css/progress.css">


<div class="page-wrap">
    <div class="">
        <h1>Настройка занятия</h1>
    </div>
    <div class="margin">
        <form class="edit-form" action="/exercise/{{action}}" method="post">
            <div class="">
                <label class="link">
                    <div class="form-elem">
                        <span>{{fields.link}}</span>
                        <input  type="text" name="exercise[link]" value="{{formData.link}}" required>
                    </div>
                </label>
            </div>
            <div class="margin">
                <h1>Материалы к лекции</h1>
            </div>
            <div class="row-2">
                <div class="">
                    <label for="">
                        <div class="desc-elem">
                            <span>{{fields.desc}}</span>
                            <textarea name="exercise[desc]">{{formData.desc}}</textarea>
                        </div>
                    </label>
                    <label>
                        <div class="">
                            <input type="submit" name="do" value="Сохранить изменения">
                        </div>
                    </label>
                </div>
                <div class="">
                    <div class="file-wrap">
                        {{#each files}}
                        <div class="view-row">
                            <div class="view-field">
                                {{this.title}}
                                <a class="file-del" href="/file/delete?filename={{this.title}}&path=/teacher"></a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="">
                    </div>
                </div>
            </div>
        </form>
        <form id="form-file" action="/file" method="post">
            <input id="file" type="file" name="file" id="file" class="inputfile" />
            <label for="file">Добавить файл</label>
            <!-- <input id="file" type="file" name="" value="Добавить файлы"> -->
            <div class="progress">
                <progress style="visibility: hidden" max="100" value="0" id="progress"></progress>
            </div>
            <input id="submit" style="visibility: hidden" type="submit" name="" value="Отправить файл">
        </form>
    </div>
</div>

<script type="text/javascript">
    var id = {{{exerciseId}}};
</script>
<script src="/js/teacherUpload.js"></script>
<script src="/js/deleteFile.js"></script>
