<link rel="stylesheet" href="/css/grid-view.css">
<link rel="stylesheet" href="/css/form.css">

<div class="grid-view">
    {{#each files}}
    <div class="view-row">
        <div class="view-field">
            {{this.title}}
        </div>
        <div class="view-content">
            <a href="">Удалить</a>
        </div>
    </div>
    {{/each}}
</div>


<form class="" action="/admin/users/{{action}}" method="post">
    <label>
        <div class="form-elem">
            <span>{{fields.email}}</span>
            <input type="email" name="user[link]" value="{{formData.link}}" required>
        </div>
    </label>

    <label for="">
        <div class="form-elem">
            <span>{{fields.phone}}</span>
            <textarea name="user[desc]">{{formData.desc}}</textarea>
        </div>
    </label>

    <label>
        <div class="">
            <input type="submit" name="do" value="Отправить">
        </div>
    </label>
</form>
