<link rel="stylesheet" href="/css/exerciseView.css">

<h1>Статистика по занятию</h1>
<div class="lessonBrief">
	<div class="lessonName">
		<img src="/img/timeTable/good 1.svg">
		<span>Теория вероятностей</span>
	</div>
	<div class="lessonGroup">
		<img src="/img/timeTable/man-avatar_1.svg">
		<span>Группа БО931ПРИ</span>
	</div>
</div>

<div class="groupInfo">
    <table id="info">
    	<tr id="infoHead">
    		<th><span>№ студента</span></th>
    		<th><span>ФИО студента</span></th>
    		<th><span>Присутствие</span></th>
    		<th><span>Файлы</span></th>
    		<th><span>Зачтено</span></th>
    	</tr>
        {{#each users}}
            <tr id="student">
        		<td><span class="num">{{this.num}}</span></td>
        		<td><span class="studentName">{{this.lastname}} {{this.firstname}} {{this.patronyc}}</span></td>
        		<td>
                    <div class="studentAttendance">
                        <a class="presence" href="/exercise/persence?idUser={{this.Id}}&idc={{this.idc}}">
                            {{#if this.presence}}
                            <div class="presence-yes">
                            </div>
                            {{else}}
                            <div class="presence-no">
                            </div>
                            {{/if}}
                        </a>
                    </div>
                </td>
                <td>
                    {{#if this.fTitle}}
                        <div class="file-student">
                            <a href="/file/student/{{this.fTitle}}">Файл студента</a>
                        </div>
                    {{else}}
                        <div class="none-file">
                            <span class="studentFile">Файл отсутствует</span>
                        </div>
                    {{/if}}
                </td>

        		<td>
                    <div class="studentMarked">
                        <a class="pass" href="/exercise/pass?idUser={{this.Id}}&idc={{this.idc}}">
                            {{#if this.pass}}
                                <div class="pass-yes">
                                </div>
                            {{else}}
                                <div class="pass-no">
                                </div>
                            {{/if}}
                        </a>
                    </div>
                </td>
        	</tr>
        {{/each}}
    </table>
</div>


<script src="/js/presence.js"></script>
<script src="/js/pass.js"></script>
