<table>
    {{#each users}}
        <div class="">
            {{this.num}}
        </div>
        <div class="">
            {{this.lastname}}
            {{this.firstname}}
            {{this.patronyc}}
        </div>
        <div class="presence">
            {{#if this.presence}}
            <div class="yes-student">
                Студент есть
            </div>
            {{else}}
            <div class="no-student">
                Студента нет
            </div>
            {{/if}}
        </div>
        <div class="">
            {{this.fTitle}}
        </div>
        <div class="">

        </div>
        <div class="">

        </div>

        {{#if this.pass}}
            <div class="pass">
                Студент сдал
            </div>
        {{else}}
            <div class="">
                Студент не сдал
            </div>
        {{/if}}

        <br>
        <br>
        <br>
    {{/each}}
</table>

<script src="/js/persence.js"></script>
