<table>
    {{#each users}}
        <div class="">
            {{this.num}}
        </div>
        <div class="">
            {{this.lastname}}
            {{this.firstname}}
            {{this.patronyc}}
        </div>
        <div class="">
            {{#if this.presence}}
            <div class="yes-student">
                Присутствие{{this.presence}}
            </div>
            {{else}}
            <div class="no-student">

            </div>
            {{/if}}

        </div>
        <div class="">
            {{this.fTitle}}
        </div>
        <div class="">

        </div>
        <div class="">

        </div>

        {{#if this.pass}}
        <div class="">
        {{this.pass}}
        </div>
        {{else}}
        <div class="">
        Студент отсутствовал
        </div>
        {{/if}}

        <br>
        <br>
        <br>
    {{/each}}
</table>
