<link rel="stylesheet" href="/css/exerciseView.css">

<table>
    {{#each users}}
        <div class="">
            {{this.num}}
        </div>
        <div class="">
            {{this.lastname}}
            {{this.firstname}}
            {{this.patronyc}}
        </div>
        <div class="">
            <a class="presence" href="/exercise/persence?idUser={{this.Id}}&idExercise={{this.idExer}}">
                {{#if this.presence}}
                <div class="yes-student">
                    Студент есть
                </div>
                {{else}}
                <div class="no-student">
                    Студента нет
                </div>
                {{/if}}
            </a>
        </div>
        {{#if this.fTitle}}
        <div class="">
            <a href="/file/student/{{this.fTitle}}">Файл студента</a>
        </div>
        {{/if}}
        <div class="">

        </div>
        <div class="">
            <a class="pass" href="/exercise/pass?idUser={{this.Id}}&idExercise={{this.idExer}}">
                {{#if this.pass}}
                    <div class="">
                        Студент сдал
                    </div>
                {{else}}
                    <div class="">
                        Студент не сдал
                    </div>
                {{/if}}
            </a>
        </div>



        <br>
        <br>
        <br>
    {{/each}}
</table>

<script src="/js/presence.js"></script>
<script src="/js/pass.js"></script>
